    // The endorsement policy claims a binary has an expected hash if... 
    "{{.Name}}::Binary" has_expected_hash_from("sha256:{{.Sha256}}", "{{.Name}}::EndorsementFile") :-
        // ... the real time is less than the given expiry time and greater
        // than the release time stated in the endorsement file.
        RealTimeNsecIs(current_time), current_time >= {{.ReleaseTime.Unix}}, current_time < {{.ExpiryTime.Unix}}.

    // The endorsement policy trusts a time measurement policy called
    // "UnixEpoch" to get the current time. (This just uses the local clock)
    "UnixEpochTime" canSay RealTimeNsecIs(any_time).