    // The Rekor verifier claims the signature triple in the rekor log entry 
    // is valid.
    hasValidBodySignature("{{.RekorLogEntryName}}::RekorLogEntry").

    // The Rekor verifier claims the inclusion proof in the rekor entry is 
    // valid.
    hasValidInclusionProof("{{.RekorLogEntryName}}::RekorLogEntry").
    
    // The Rekor verifier claims the key used in the rekor log entry 
    // is the one corresponding to the product team.
    signerIsProductTeam("{{.RekorLogEntryName}}::RekorLogEntry").

    // The Rekor verifier claims that the body of the log matches
    // an input endorsement file.
    contentsMatch("{{.RekorLogEntryName}}::RekorLogEntry", 
        "{{.RekorLogEntryName}}::Endorsement").
    
    // The Rekor verifier claims that an (input) endorsement file is
    // a valid Rekor entry if ...
    "{{.RekorLogEntryName}}::Endorsement" canActAs "ValidRekorEntry" :-
        // ... the input rekor log entry has a valid signature triple ...
        hasValidBodySignature("{{.RekorLogEntryName}}::RekorLogEntry"),
        // ... the input rekor log entry has a valid inclusion proof ...
        hasValidInclusionProof("{{.RekorLogEntryName}}::RekorLogEntry"),
        // ... the public key used to sign the rekor log entry is
        // an input key that is trusted to belong to the product team ...
        signerIsProductTeam("{{.RekorLogEntryName}}::RekorLogEntry"),
        // ... and the body of the rekor log entry matches the 
        // contents of the endorsement file.
        contentsMatch("{{.RekorLogEntryName}}::RekorLogEntry",
            "{{.RekorLogEntryName}}::Endorsement").
